<ion-view view-title="Account">
    <ion-content>
        <ion-list>
            <ion-toggle ng-model="settings.enableFriends">
                Enable Friends
            </ion-toggle>
            <ion-item>
                <a class="login button" href="http://eyes-of-time.herokuapp.com/accounts/login/facebook/?mobile=http://localhost:8100/">
                    Login wih Facebook
                </a>
                <iframe style="width: 100%; height: 400px;" ng-src="login_href" ng-load="alert(123)" name="fb_frame"></iframe>
            </ion-item>
        </ion-list>
    </ion-content>
</ion-view>
