{% extends "base.html" %}
{% load staticfiles %}

{% block extra_head %}
{% endblock %}

{% block body_attrs %}{% endblock %}
{% block content %}
    <div class="navbar navbar-custom navbar-fixed-top" role="navigation">
        <div class="container-fluid">
            <div class="navbar-header">
                <div class="navbar-icon-container">
                    <a href="#" class="navbar-icon pull-right visible-xs" id="nav-btn"><i
                        class="fa fa-bars fa-lg white"></i></a>
                    <a href="#" class="navbar-icon pull-right visible-xs" id="sidebar-toggle-btn"><i
                        class="fa fa-search fa-lg white"></i></a>
                </div>
                <a class="navbar-brand" href="/">Eyes of Time</a>
            </div>
            <div class="navbar-collapse collapse">
                <!--uSER DATA -->
                <ul class="nav navbar-nav pull-right">
                    {% if user.is_authenticated %}
                        <li class="navbar-text ">My Rating: <span class="badge">{{ user.rating }}</span></li>
                        <li><a href="{% url 'rating' %}">Top users</a></li>
                        <li class="dropdown">
                            <a class="dropdown-toggle user-photo-button" id="userDrop" href="#" role="button" data-toggle="dropdown">
                                <img src="{{ user.get_avatar }}"/> {{ user.get_full_name }} <b class="caret"></b>
                            </a>
                            <ul class="dropdown-menu">
                                <li><a href="{% url 'profile' %}">My account</a></li>
                                <li class="divider"></li>
                                <li><a href="{% url 'logout' %}">Exit</a></li>
                            </ul>
                        </li>
                    {% else %}
                        <li><a href="{% url 'login' %}">Sign in</a></li>
                    {% endif %}
                </ul>
                <ul class="nav navbar-nav">
                </ul>
            </div>
            <!--/.navbar-collapse -->
        </div>
    </div>

    {% if messages %}
        <div class="messages">
            {% for m in messages %}
                <div class="alert alert-dismissible alert-{{ m.tags }}" role="alert">
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    {{ m|safe }}
                </div>
            {% endfor %}
        </div>
    {% endif %}



    {% block main %}
    {% endblock main %}
{% endblock %}

{% block extra_js %}
{% endblock %}
