{% extends "base.html" %}
{% load staticfiles %}

{% block extra_head %}
    <link rel="stylesheet" href="//cdn.leafletjs.com/leaflet-0.7.3/leaflet.css">
    <link rel="stylesheet" href="//api.tiles.mapbox.com/mapbox.js/plugins/leaflet-locatecontrol/v0.24.0/L.Control.Locate.css">
    <link rel='stylesheet' href='//api.tiles.mapbox.com/mapbox.js/plugins/leaflet-fullscreen/v0.0.2/leaflet.fullscreen.css'/>

    <link rel="stylesheet" href="{% static "css/eyes-of-space.css" %}">
{% endblock %}

{% block body_attrs %} class="app" ng-app="eyesoftimeApp" ng-controller="FindingListController"{% endblock %}
{% block content %}
    <div class="navbar navbar-custom navbar-fixed-top" role="navigation">
        <div class="container-fluid">
            <div class="navbar-header">
                <div class="navbar-icon-container">
                    <a href="#" class="navbar-icon pull-right visible-xs" id="nav-btn"><i
                        class="fa fa-bars fa-lg white"></i></a>
                    <a href="#" class="navbar-icon pull-right visible-xs" id="sidebar-toggle-btn"><i
                        class="fa fa-search fa-lg white"></i></a>
                </div>
                <a class="navbar-brand" href="/">Eyes of Time</a>
            </div>
            <div class="navbar-collapse collapse">
                <!--uSER DATA -->
                <ul class="nav navbar-nav pull-right">
                    {% if user.is_authenticated %}
                        <li class="navbar-text ">My Rating: <span class="badge">{{ user.rating }}</span></li>
                        <li class="dropdown">
                            <a class="dropdown-toggle user-photo-button" id="userDrop" href="#" role="button" data-toggle="dropdown">
                                <img src="{{ user.get_avatar }}"/> {{ user.get_full_name }} <b class="caret"></b>
                            </a>
                            <ul class="dropdown-menu">
                                <li class="divider"></li>
                                <li><a href="{% url 'logout' %}">Exit</a></li>
                            </ul>
                        </li>
                    {% else %}
                        <li><a href="{% url 'login' %}">Sign in</a></li>
                    {% endif %}
                </ul>
                <ul class="nav navbar-nav">
                </ul>
            </div>
            <!--/.navbar-collapse -->
        </div>
    </div>

    {% block main %}
        <div id="container">
            <div id="sidebar">
                <div class="sidebar-wrapper">
                    <div class="panel panel-default" id="calendar">
                        <datepicker ng-model="date" max-date="yesterday" show-weeks="true" class="well well-sm"></datepicker>
                    </div>
                    <div class="panel panel-default" id="features">
                        <div class="panel-heading">
                            <h3 class="panel-title">
                                Findings for <span ng-bind="date_str()"></span>
                            </h3>
                        </div>
                        <div class="panel-body">
                            <div id="images"></div>

                            <div class="row event-activity">
                                <ul class="unstyled">
                                    <li ng-repeat="event in events">
                                        <div class="author">
                                            <img ng-src="[[event.avatar]]"/>
                                        </div>
                                        <div class="name" ng-bind="event.user"></div>
                                        <div class="date" ng-bind="event.added"></div>
                                        <div class="description">
                                            <a ng-href="[[ event.url ]]" ng-bind="event.description" ng-show="event.url"></a>
                                            <span ng-bind="event.description" ng-hide="event.url"></span>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div id="map" event-broadcast="actions"></div>
            <modal title="Add Event" visible="showModal">
                <form role="form">
                    <div class="form-group">
                        <label for="description"></label>
                        <input type="text" class="form-control" id="description" ng-model="newEvent.description"
                               placeholder="Enter description of event found" required="required"/>
                        <p class="help-block">
                            You can use hashtags, like <a href="#">#volcano</a> or <a href="#">#cloud</a>.
                        </p>
                    </div>
                    <button type="submit" class="btn btn-pill btn-send" ng-click="registerEvent()">Submit</button>
                </form>
            </modal>
        </div>
    {% endblock main %}
{% endblock %}
{% block extra_js %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.8.3/underscore-min.js"></script>
    <script src='https://cdnjs.cloudflare.com/ajax/libs/html2canvas/0.4.1/html2canvas.js'></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/0.12.1/ui-bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/0.12.1/ui-bootstrap-tpls.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.10.2/moment-with-locales.min.js"></script>

    <script src="//cdn.leafletjs.com/leaflet-0.7.3/leaflet.js"></script>
    <script src="//api.tiles.mapbox.com/mapbox.js/plugins/leaflet-locatecontrol/v0.24.0/L.Control.Locate.js"></script>
    <script src='//api.tiles.mapbox.com/mapbox.js/plugins/leaflet-fullscreen/v0.0.2/Leaflet.fullscreen.min.js'></script>
    <script src="{% static "js/app.js" %}"></script>
{% endblock %}
