html, body, #container {
    height: 100%;
    width: 100%;
    overflow: hidden;
}
body {
    padding-top: 50px;
}

.btn-pill {
    border-radius: 40px;
}

.btn-send{
    text-transform: uppercase;
    color: #FFFFFF;
    padding-left: 2.5em;
    padding-right: 2.5em;
    vertical-align: text-bottom;
    background-image: -webkit-linear-gradient(#d93877, #9c1e50);
    background-image: linear-gradient(#d93877, #9c1e50);
    background-color: #d93877;
    background-position: 0 100%;
    background-size: auto 200%;
    -webkit-transition: background-position 0.3s ease-in-out;
    transition: background-position 0.3s ease-in-out;
}

.navbar-custom{
    background-color: #4B3C6B;
}

.navbar .navbar-brand {
    font-weight: bold;
    font-size: 25px;
    color: #EB0C7B;
    font-family: "Press Start 2P";
}
.navbar-collapse.in {
    overflow-y: hidden;
}
.navbar-header .navbar-icon-container {
    margin-right: 15px;
}
.navbar-header .navbar-icon {
    line-height: 50px;
    height: 50px;
}
.navbar-header a.navbar-icon {
    margin-left: 25px;
}

.navbar-custom .user-photo-button {
    padding: 9px;
    background-color: #016797 !important;
}

.navbar-custom .user-photo-button img{
    width: 32px;
    height: 32px;
    border-radius: 14px;
}

.navbar-custom .user-photo-button img:hover{
    -webkit-filter: brightness(1.15);
    filter: brightness(1.15);
}


#sidebar {
    width: 450px;
    height: 100%;
    max-width: 100%;
    float: left;
    -webkit-transition: all 0.25s ease-out;
    -moz-transition: all 0.25s ease-out;
    transition: all 0.25s ease-out;
    background-color: #EDBC87 !important;
}
#map {
    width: auto;
    height: 100%;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
}
#loading {
    position: absolute;
    width: 220px;
    height: 19px;
    top: 50%;
    left: 50%;
    margin: -10px 0 0 -110px;
    z-index: 20001;
}

@media (max-width: 992px) {
    .navbar .navbar-brand {
        font-size: 18px;
    }
}
@media (max-width: 767px){
    #sidebar {
        display: none;
    }
    .url-break {
        word-break: break-all;
        word-break: break-word;
        -webkit-hyphens: auto;
        hyphens: auto;
    }
    .dropdown-menu a i{
        color: #FFFFFF;
    }
}
/* Print Handling */
@media print {
    .navbar {
        display: none !important;
    }
    .leaflet-control-container {
        display: none !important;
    }
}

.event-activity ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.event-activity ul li {
    font-size: 12px;
    border: 1px solid #dbdee0;
    position: relative;
    background: white;
    margin: 0 40px 20px 80px;
    padding: 10px;
}

.event-activity ul li:before {
    content: '';
    width: 20px;
    height: 20px;
    top: 15px;
    left: -20px;
    position: absolute;
    background: url("../img/disc-arrow.png") no-repeat;
    background-size: 20px 20px;
}

.event-activity ul li .author {
    position: absolute;
    z-index: 1;
    width: 30px;
    float: left;
    top: 0;
    left: -70px;
}

.event-activity ul li .author img {
    height: 30px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
}

.event-activity ul li .name {
    position: absolute;
    top: 10px;
    left: 10px;
    width: 100%;
    background: #e9ebec;
    padding: 5px 10px 5px 10px;
}

.event-activity ul li .date {
    position: absolute;
    top: 10px;
    right: -1px;
    z-index: 1;
    background: #dbdee0;
    padding: 5px 20px 5px 10px;
}

.event-activity ul li .description {
    border-bottom: 1px solid #e9ebec;
    margin: 20px -10px 0 -10px;
    padding: 20px;
    font-size: 12px;
}
